$color-black: #070707;
$color-gray: #464646;
$color-gray-dark: #303030;
$color-gray-light: #d0d0d0;
$color-yellow-light: #BEA67C;
$header-color: #808080;
$logo-color: #fff;
$main-padding: (360 / 1920 * 100%);
$main-padding-big: (180 / 1920 * 100%);
$page-font-family: 'ProximaNova';
$page-font-size: 15px;
$page-title-color: #010101;
$section-bg-color: #fff; 
$section-img-shadow: 0 0 10px #000;
$section-padding: 130px;