doctype <!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WOODER
        link(rel="stylesheet", href="/css/app.min.css")
    body
        header
            .header
                .header__wrapper_top
                    .header-top
                        .header-menu
                            .header-menu__item.header-menu__item_pos_left
                                .header-menu__burger
                                    div
                                    p MENU
                            .header-menu__item.header-menu__item_pos_center
                                .logo WOODER
                                ul.header-menu__list
                                    li HOME
                                    li PRODUCTS
                                    li ABOUT
                            .header-menu__item.header-menu__item_pos_right
                                .header__img
                                    img(src="/img/icons/info.png", alt="Info")
                                .select-language EN    
                .header__wrapper_main
                    .header-main
                        .header-numbers
                            p.header-numbers__item.text_vertical.text_color_yellow 01  
                            .header-numbers__links
                                 .header-numbers__link_active
                                 .header-numbers__link
                                 .header-numbers__link
                                 .header-numbers__link
                        .header-info
                            h1.header-title.text_color_yellow WOODER
                            a.btn.header-btn(href="#") 
                                p.text_small LEARN MORE
                                img(src="/img/icons/arrow-right.png", alt="Arrow right")
                            .scroll
                                div
                                    img(src="/img/icons/mouse.png", alt="Mouse") 
                                div
                                    img(src="/img/icons/arrow-down.png", alt="Arrow down")  
                                p.text_vertical.text_small.text_color_yellow SCROLL  
                            p.text_vertical.text_color_yellow FURNITURE & DECOR               
                .header-absolute.header-absolute_pos_right.text_color_yellow W
                .header-absolute.header-absolute_pos_bottom.text_color_yellow F
                .header-absolute.header-absolute_pos_bottom-right 
                    img(src="/img/icons/share.png", alt="Share")
        main
            section
                .section
                    .section-wrapper
                        .section-content
                            .section-row.section-row_justify_end
                                .section-row__item
                                    .section-info
                                        .section-title.section-title_wLine.text_align_left
                                            h2 FURNITURE
                                        .section-text.section-text_wLine.section-text_wLine_left.text_align_left
                                            p 
                                                |Wooder utilizes materials otherwise left behind, 
                                                |rendered useless in their original intent. 
                                                |By creating new pieces made of reclaimed barnwood    
                                        .section-link
                                            a.text_small(href="#") LEARN MORE
                                .section-row__item            
                                    .section-img.section-img_shadow
                                        img(src="/img/furniture.png", alt="Furniture")
                            .section-number.section-absolute 01.
                            .section-absolute.section-absolute_pos_left FURNITURE        
            section
                .section
                    .section-wrapper
                        .section-content
                            .section-row.section-row_justify_start
                                .section-row__item
                                    .section-img.section-img_shadow
                                        img(src="/img/decor.png", alt="Decor")
                                .section-row__item        
                                    .section-info
                                        .section-title.section-title_wLine.text_align_right
                                            h2 DECOR
                                        .section-text.section-text_wLine.section-text_wLine_right.text_align_right
                                            p 
                                                |We make all types of wooden decor as per design 
                                                |given by Architect,Interior designer, contractor 
                                                |which is suitable your premises.     
                                        .section-link
                                            a.text_small(href="#") LEARN MORE
                            .section-number.section-absolute 02.
                            .section-absolute.section-absolute_pos_right DECOR 
            section
                .section
                    .section-wrapper
                        .section-content
                            .section-column
                                .section-info
                                    .section-title.text_align_center
                                        h2 WOODER - IS QUALITY
                                    .section-text.section-text_wLine.section-text_wLine_top
                                        p 
                                            |We create unique design objects made of rare wood, 
                                            |specially under the order. Look at the short video about our work. 
                                .section-row.section-row_justify_between
                                    .section-row__item
                                        .advantage-block
                                            .advantage-block__video
                                                .advantage-block__img
                                                    img(src="/img/innovative-design.png", alt="Innovative Design")
                                                .play
                                            h3.advantage-block__title.section-subtitle Innovative Design 
                                    .section-row__item
                                        .advantage-block
                                            .advantage-block__video
                                                .advantage-block__img
                                                    img(src="/img/high-level-skills.png", alt="High-level Skills")
                                                .play
                                            h3.advantage-block__title.section-subtitle High-level Skills
                                    .section-row__item
                                        .advantage-block
                                            .advantage-block__video
                                                .advantage-block__img
                                                    img(src="/img/quality-products.png", alt="Quality Products")
                                                .play
                                            h3.advantage-block__title.section-subtitle Quality Products                    
            section
                .section.section_bg_black
                    .section-wrapper.section-wrapper_size_big
                        .section-content.section-content_border_yellow
                            .section-wrapper
                                .section-row
                                    .section-row__item
                                        .section-info
                                            .section-title.section-title_wLine.text_align_left
                                                h2 WE Do THE DESIGN OF ANY COMPLEXITY
                                            .section-text.section-text_wLine.section-text_wLine_left.text_align_left
                                                p 
                                                    |This is a team of professionals that make the furniture and 
                                                    |wood décor high standard. Creating modern designs. 
                                                    |Adhering to the global quality standards. And we are 
                                                    |doing work with love.    
                                            a.btn.section-btn(href="#") 
                                                img(src="/img/icons/watch.png", alt="Watch")
                                                p.text_small WATCH VIDEO
                                    .section-row__item  
                            .section-absolute.section-absolute_watch
                                img(src="/img/icons/watch.png", alt="Watch")                
            section
                .section
                    .section-wrapper  
                        .section-content
                            .section-row.section-row_justify_start
                                .section-row__item
                                    .section-img.section-img_shadow
                                        img(src="/img/about.png", alt="Our team")
                                .section-row__item        
                                    .section-info
                                        .section-title.section-title_wLine.text_align_left
                                            h2 ABOUT US
                                        .section-text.section-text_wLine.section-text_wLine_left.text_align_left
                                            p 
                                                |We are a team of professionals in the wood processing 
                                                |and the creation of wooden furniture of the highest class     
                                        .section-link
                                            a.text_small(href="#") LEARN MORE                                  
        footer
            .footer
                p.text_color_gray © 2016 WOODER
                .logo WOODER
                p.text_color_gray 
                    a(href="#") Designed by Viacheslav Olianishyn